.khadij{
    background-color:  rgb(54 41 41);
    height: 300px;
    margin-bottom :100px; 
    position: relative;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgb(221, 23, 23);
    
}
/* .pe-2{
    padding-right: 50px;
} */
.row.d-flex{
    display: inline !important;
}
.loubbida{
    position: absolute;
    top:9px;
    right: 484px
}
div.pe-2{
    padding: 10px;
}
