.nav1 {
    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    margin-bottom: 0;
   padding: 50px;
}
.nav-item1{
    padding: 50px;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

    .pofo-line {
        background: #d6d6d6;
        height: 2px;
       
        width: 82.5%;
        z-index: -1;
        margin-top: 30px;
        text-align: center;
    }
   
 .bottona{
    margin-bottom: 48px;
 }
 .bottona{
    margin-bottom: 48px;
 }
    .pofo-cat {
       
        position: relative;
    }
    .saphi1{
        margin-top: -430px;

    }
    .saphi2{
        margin-top: -431px;;

    }
    .saphi3{
        margin-top: -433px;;

    }
    .saphi4{
        margin-top: -435px;;

    }
    .saphi5{
        margin-top: -437px;;

    }
     .immage{
        width: 360px;
        height: 225px;
        z-index: -99;
     }
     .vedio {
        position: relative;
        z-index: 99;
        width: 276px;
        height: 413px;
        bottom: 348px;
    left: 42px;
        
}
.div.col-md-4{
    margin-bottom: 100px;
}
.hassan{
    position: relative;
    bottom: 60px;
}
.bois{
    margin-bottom: 50px;
    position: relative;
    bottom: 52px;
    left: 24px;
}
.container.yassi{
    margin-bottom: 0px !important;
}
    .btnn{
        
        
          width: 150px;
        height: 50px;
        border: none;
        border-radius: 5px;
        box-shadow: 2px 3px 4px;
        margin-top: 100px;
        margin-left: 150px;
        color: rgb(255, 255, 255);
        background-color:  rgb(202, 140, 59);
        cursor: pointer;
    }
    .btnn:hover{
        background-color: rgb(255, 255, 255);
    color:  rgb(202, 140, 59);
    border: 1px solid  rgb(202, 140, 59); ;

    }

        
        .btnn1{
        
        
            width: 150px;
          height: 50px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px 4px;
          margin-top: 100px;
          margin-left: 150px;
          color: rgb(18, 58, 10);
          background-color: rgb(76, 115, 221);}
          .btnn2{
        
        
            width: 150px;
          height: 50px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px 4px;
          margin-top: 100px;
          margin-left: 150px;
          color: rgb(18, 58, 10);
          background-color: rgb(75, 209, 49);} 
          .btnn3{
        
        
            width: 150px;
          height: 50px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px 4px;
          margin-top: 100px;
          margin-left: 150px;
          color: rgb(18, 58, 10);
          background-color: rgb(253, 23, 203);}
          .btnn4{
        
        
            width: 150px;
          height: 50px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px 4px;
          margin-top: 100px;
          margin-left: 150px;
          color: rgb(18, 58, 10);
          background-color: rgb(110, 124, 119);}
          .btnn5{
        
        
            width: 150px;
          height: 50px;
          border: none;
          border-radius: 5px;
          box-shadow: 2px 3px 4px;
          margin-top: 100px;
          margin-left: 150px;
          color: rgb(18, 58, 10);
          background-color: rgb(136, 127, 255);}
        


    